#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

div.anecdote {
  margin-bottom: 2rem;
  padding: 0.5rem;
  border: 2px solid;
}

div.form {
  margin: 2.5rem 0 2.5rem 0;
}

div.form > h3 {
  margin: 0;
}

input {
  margin-bottom: 0.5rem;
}

.filter {
  margin-bottom: 1.5rem;
}

.notification {
  border: solid;
  padding: 10px;
  border-width: 1px;
  font-weight: bold;
}
